body{
        background: url("images/pattern-2054297_1920.jpg");
}

.col-sm-4{
    border: 3px;
    border-bottom-color: black;
}

.space{
    text-align: right;
}

.space2{
    text-align: justify;
}

.table
{
    margin-left:120px;
	
}

.foot{
    height: 80px;
    background-color: #222222;
    color: aliceblue;
}


